{% extends 'auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t39.30808-6/275461147_131392369406175_4490069287105758283_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=_zNlqFcmjEMAX-P35YZ&tn=FTBiFS0eYu8_S18u&_nc_ht=scontent.fsgn5-5.fna&oh=00_AT_XT-b7Zf2dCnAxyk94JXaeMSR_9udxdCwTDpc42T3uHw&oe=62641D68" alt="IMG">
                </div>
                {{ form_start(registrationForm) }}
                <div class="login100-form validate-form">
                    <span class="login100-form-title">
                        Sign-up member
                    </span>

                    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                        <i{{ form_row(registrationForm.email) }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate = "Password is required">
                        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Register
                        </button>
                    </div>

                    <div class="text-center p-t-12">
                        <a class="txt2" href="{{path('app_login')}}">
                            Already has account? Sign-in now
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}